/********** RESET CSS **********/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/********** GENERAL **********/
section {
    width: 100%;
    height: 100dvh;
    padding-top: 5rem;
}

/********** HEADER **********/
.navbar {
    background-color: grey;
}