/********** VARIABLES **********/
:root {
    --primary-color: #0d6efd;
    --light-color: rgba(233, 236, 239, 0.75);
    --dark-color: rgba(53, 58, 63, 0.75);
}

/********** RESET CSS **********/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/********** GENERAL **********/
section {
    width: 100%;
    height: 100dvh;
    padding-top: 5rem;
}

/********** HEADER **********/
nav {
    background-color: var(--light-color);
}

nav .nav-link:hover {
    color: var(--primary-color);
}

.dark-mode {
    background-color: var(--dark-color);
}